table {
    border-collapse: collapse;
}

td {
    border: solid 1px gray;
    padding: 4px;
}

td.alive {
    background: yellow;
}

td.dead {
    background: lightgray;
}

td.undefined {
    background: red;
}

button {
    margin: 1ex 0 0 0;
}