table {
    border-collapse: collapse;
}

td {
    border: solid 1px blue;
    padding: 5px;
}

td.alive {
    background: yellow;
}

td.dead {
    background: red;
}

td.undefined {
    background: lightgray;
}
